snippet cons-simple "A constructor which takes a load of args and assigns them under the class in the same names." b
def __init__(self, ${1:arg1, arg2}):
`!p snip.shift()
names_clean = [i.strip() for i in t[1].split(",")]
snip.rv = "\n    ".join([snip.mkline(f"self.{name} = {name}") for name in names_clean])`
endsnippet
