snippet math "align environment"
\\begin{align*}
  ${0}
\\end{align*}
endsnippet

snippet bullets "bullet pointed list"
\\begin{itemize}
  \\item ${0}
\\end{itemize}
endsnippet

snippet numbered "numbered list"
\\begin{enumerate}
  \\item ${0}
\\end{enumerate}
endsnippet

snippet code "syntax-highlighted code block"
\\begin{minted}[linenos]{${1}}
  ${0}
\\end{minted}
endsnippet
